<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkingDirectory" value="C:\temp"></add>
    <add key="PrependSubject" value="[Virus Infected] "></add>
    <add key="ClamScanPath" value="C:\program files\ClamWin\bin\clamscan.exe"></add>
    <add key="QuarantineFolder" value="C:\quarantine"></add>
    <add key="ClamWindDBPath" value="C:\Documents and Settings\All Users\.clamwin\db"></add>
  </appSettings>
</configuration>